[submodule "skCrypter"]
	path = include/skCrypter/
	url = https://github.com/skadro-official/skCrypter.git
	
[submodule "SigThief"]
	path = SigThief/
	url = https://github.com/secretsquirrel/SigThief.git
